*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    font-family: Arial;
}

#wrapper{
    background-color: #fdd116;
    font-size: 1em;
    padding: 0 10%;
}
.blue{
    background-color: #4c8dcd;
    color: white;
    text-align: center;
    font-size: 100%;
}
footer{
    background-color: #29539d;
    color:white;
    text-align: center;
}
main{
    background-color: white;
    display: flex;
    padding: 30px 10px 30px 10px
}
h1{
    color: #eebb2e;
    padding: 10px;
    font-weight:900;
}
li{
    margin: 5%;
}
a{
    color: white;
}
p{
    padding: 10px;
    text-align: justify;
    font-size: 100%;
}
p.blue{
    font-weight: bold;
    font-size: 130%;
}
nav{
    width: 15%;
    padding: 1%;
    height: 100%;
}
article{
    width: 65%;
}
aside{
    width: 20%;
}
#img1{
    width: 100%;
}
#img2{
    margin: 10px 0 0 0;
    width: 70%;
    border: solid;
}
figcaption{
    font-weight: bold;
    font-size: 120%;
    margin: 2%;
}
footer{
    font-size: 120%;
    padding: 1% 0;
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    #wrapper{
        padding: 0%;
    }
    nav{
        width: 97%;  
    }
    article{
        width: 97%;
        margin: 10% 0;
    }
    aside{
        width: 97%;
    }
  }